@model DeerInformation.Models.V_HR_ContractWithStaffName
@{
    Layout = null;
    var X = Html.X();
}

<!DOCTYPE html>
<script>
    var closewindow = function () {
        parent.App.windowContract.close()
    };
</script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddContract</title>
</head>
<body>
    @Html.X().ResourceManager(ViewBag.ManagerConfig as MvcResourceManagerConfig).Theme(Theme.Default)
    @X.FormPanel().ID("FormPanel1").Frame(true).Items(
       X.FormPanel().Layout(LayoutType.HBox).LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Top })
       .ModelValidation(true)
                .Listeners(l =>
                {
                    l.ValidityChange.Handler = "#{add}.setDisabled(!valid);";
                })
                   .Items(
                   X.Panel().Flex(9).Layout(LayoutType.VBox).LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch }).Border(false).Items(
                      X.TextFieldFor(m => m.StaffID).ID("StaffID").FieldLabel("工号").AllowBlank(false).Editable(false),
                      //X.ComboBoxFor(m=>m.Probation).FieldLabel("试用期（月）").Editable(false).Items(new ListItem("0"),new ListItem("1"),new ListItem("2"),new ListItem("3"),new ListItem("6")).EmptyText("请选择...").AllowBlank(false),
                      X.NumberFieldFor(m=>m.Num).FieldLabel("第几次").MaxValue(100).MinValue(1).Value(1).AllowBlank(false).Editable(false),
                      X.DateFieldFor(m=>m.StartTime).FieldLabel("开始时间").AllowBlank(false).Editable(false),
                      X.TextFieldFor(m => m.Years).FieldLabel("劳动合同年限").AllowBlank(false).Regex(@"^(\d{1,18}|\d{1,15}\.\d{1,1})$"),
                      X.TextFieldFor(m => m.Remark).FieldLabel("备注"),
                      X.TextFieldFor(m => m.ID).FieldLabel("合同ID").Hidden(true),
                      X.HiddenFor(m => m.Valid),
                      X.HiddenFor(m => m.CreaterName),
                      X.HiddenFor(m => m.CreateTime),
                      X.HiddenFor(m => m.EditorName),
                      X.HiddenFor(m => m.EditeTime)
                   ),
                      X.Panel().Flex(9).Layout(LayoutType.VBox).LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch }).Border(false).Items(
                      X.TextFieldFor(m => m.Name).ID("Name").FieldLabel("姓名").AllowBlank(false).Editable(false),
                      X.ComboBoxFor(m=>m.ContractType).FieldLabel("合同类型").Editable(false).Items(new ListItem("固定期限"),new ListItem("无固定期限")).EmptyText("请选择...").AllowBlank(false),
                      X.DateFieldFor(m=>m.EndTime).FieldLabel("结束时间").Editable(false).AllowBlank(false),
                      X.ComboBoxFor(m=>m.Company).ID("Company").FieldLabel("归属公司").Editable(true).Items(new ListItem("广东德尔"),new ListItem("广东斯玛特"),new ListItem("德尔安徽分公司"),new ListItem("德尔芜湖分公司")
                      ,new ListItem("安徽斯玛特"),new ListItem("芜湖斯玛特"),new ListItem("安徽布拉特"),new ListItem("青海分公司"),new ListItem("苏州分公司"),new ListItem("福建分公司")).EmptyText("请选择...").AllowBlank(false)
                   ),
                      X.Panel().ID("selectpanel").Flex(2).Layout(LayoutType.VBox).LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch }).Border(false).Items(
                        //X.Panel().Border(false).Height(27),
                        X.Button().Text("选择员工").ID("select")
                            .DirectEvents(de =>
                            {
                                de.Click.Url = Url.Action("SelectStaff");
                                //de.Click.EventMask.ShowMask = true;
                            })
                      )
       ),
        X.Button().Text("保存").Icon(Icon.Accept).ID("save").FormBind(true).Disable(true)
                    .DirectEvents(de =>
                    {
                        de.Click.Url = Url.Action("AddOrEditContract");
                        de.Click.EventMask.ShowMask = true;
                    })
    )
</body>

</html>
