@model System.Collections.IEnumerable

@{
    Layout = null;
    var X = Html.X();
}

<!DOCTYPE html>
<script>
    var reload = function () {
        App.direct.person.BusinessTripReload();
    };
    var onSuccess = function (grid, data) {
        grid.show();
        grid.getStore().loadData(data);
    };
    var toggleRowSelect = function () {
        App.SpreadsheetSelectionModel1.setRowSelect(false);
        App.SpreadsheetSelectionModel1.setRowSelect(true);
    };
    var deletejs = function (selecteddata) {
        if (selecteddata != "") {
            Ext.MessageBox.confirm("提示", "确认删除该项？", function (but) {
                if (but == "yes") {
                    App.direct.person.JSDeleteBusinessTrip(selecteddata);
                    App.SpreadsheetSelectionModel1.setRowSelect(false);
                    App.SpreadsheetSelectionModel1.setRowSelect(true);
                    App.direct.person.BusinessTripReload();
                    App.DimissionGridPanal.show();
                    App.DimissionGridPanal.getStore().loadData(result.data);
                }
            });
        }
        else {
            Ext.Msg.alert("提示", "未选择任何列！");
        }
    }
</script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BusinessTrip</title>
</head>

<body>
    <div>
        @Html.X().ResourceManager(ViewBag.ManagerConfig as MvcResourceManagerConfig).Theme(Theme.Default)

        @(X.Viewport().ID("BackViewPort")
        .Layout(LayoutType.Border)
        .Items(
      X.Panel().Region(Region.Center).Layout(LayoutType.Border).Title("出差申请").Items(
      X.Panel().Region(Region.West).Width(200).Collapsible(false).AutoScroll(true).Items(
        X.TreePanel().ID("jiagou").RootVisible(true).UseArrows(true).AutoLoad(true)
                           .DirectEvents(
                           de =>
                           {
                               de.ItemClick.Url = Url.Action("DepClick");
                               de.ItemClick.ExtraParams.Add(
                                   new Parameter("dep", "record.data.id", ParameterMode.Raw, true));
                               de.ItemClick.Success = "onSuccess(App.BusinessTripGridPanal, result.data);";
                               de.ItemClick.EventMask.ShowMask = true;
                           }
                      )
                      .Root(ViewData["root"] as Node)
      ),
      X.Panel().AutoScroll(true).Region(Region.Center).Items(
       X.FormPanel().Layout(LayoutType.Column).Items(
                   X.TextField().ID("StaffID")
                   .FieldLabel("工号"),
                   X.TextField().ID("Name")
                   .FieldLabel("姓名"),
           X.Button().Text("查询").DirectEvents(de =>
                {
                    de.Click.Url = Url.Action("Getalldata");
                    de.Click.Success = "onSuccess(App.BusinessTripGridPanal, result.data);";
                    de.Click.ExtraParams.Add(new Parameter("staffid", "App.StaffID.getValue()", ParameterMode.Raw));
                    de.Click.ExtraParams.Add(new Parameter("name", "App.Name.getValue()", ParameterMode.Raw));
                    de.Click.EventMask.ShowMask = true;
                }),
                     X.Button().Text("添加")
                            .DirectEvents(de =>
                              {
                                  de.Click.Url = Url.Action("Add");
                              }),
                //X.Button().Text("审核")
                //            .DirectEvents(de =>
                //              {
                //                  de.Click.Url = Url.Action("Check");
                //                  de.Click.ExtraParams.Add(new Parameter("id", "App.BusinessTripGridPanal.getSelectionModel().getSelection()[0].data.ID", ParameterMode.Raw));
                //              }),
                              X.Button().Text("出差修改")
                            .DirectEvents(de =>
                              {
                                  de.Click.Url = Url.Action("EditBusinessTrip");
                                  de.Click.ExtraParams.Add(new Parameter("id", "App.BusinessTripGridPanal.getSelectionModel().getSelection()[0].data.ID", ParameterMode.Raw));
                                  de.Click.ExtraParams.Add(new Parameter("opid", "App.BusinessTripGridPanal.getSelectionModel().getSelection()[0].data.OperationListID", ParameterMode.Raw));
                              }),
                              X.Button().Text("出差取消")
                            .DirectEvents(de =>
                              {
                                  de.Click.Url = Url.Action("DeleteBusinessTrip");
                                  de.Click.ExtraParams.Add(new Parameter("id", "App.BusinessTripGridPanal.getSelectionModel().getSelection()[0].data.ID", ParameterMode.Raw));
                                  de.Click.ExtraParams.Add(new Parameter("opid", "App.BusinessTripGridPanal.getSelectionModel().getSelection()[0].data.OperationListID", ParameterMode.Raw));
                              }),
                              X.Button().Text("详细")
                            .DirectEvents(de =>
                              {
                                  de.Click.Url = Url.Action("Detail");
                                  de.Click.ExtraParams.Add(new Parameter("id", "App.BusinessTripGridPanal.getSelectionModel().getSelection()[0].data.ID", ParameterMode.Raw));
                              })
                        ),
                               X.GridPanel().ID("BusinessTripGridPanal").AutoScroll(true).ColumnLines(true)
                                      .Store(
                                         X.Store().ID("BusinessTripStore").PageSize(20)
                                                  .AutoLoad(true)
                                                  .DataSource(Model)
                                           .Model(
                                                     X.Model().IDProperty("ID").Fields("ID","StaffID", "Name", "Department"
                              , "StartTime", "EndTime","TimeSpan","BTPlace","BTReason","Valid","Remark", "CreaterName", "CreateTime", "EditorName","EditeTime","OperationListID","LastID","BTEdit","BTDelete","EditOrDelete")
                                                  )
                                          .Reader(
                                                      X.JsonReader().RootProperty("data")
                                                      )

                                  )
                                      .SelectionModel(
                                          X.CheckboxSelectionModel().Mode(SelectionMode.Multi)
                                       )
                                        .ViewConfig(X.GridView().TrackOver(false))
                                                .BottomBar(
                                        Html.X().PagingToolbar().HideRefresh(true)
                                    )
                                .ColumnModel(
                                       X.Column()
                                       .Text("ID")
                                       .Width(155)
                                       .DataIndex("ID").Hidden(true),

                                       X.Column()
                                       .Text("工号")
                                       .Width(155)
                                       .DataIndex("StaffID"),

                                       X.Column()
                                       .Text("姓名")
                                       .Width(155)
                                       .DataIndex("Name"),

                                       X.Column()
                                       .Text("部门")
                                       .Width(155)
                                       .DataIndex("Department"),

                                       X.DateColumn()
                                       .Text("出差开始时间")
                                       .Width(155)
                                       .Format("yyyy-MM-dd HH:mm")
                                       .DataIndex("StartTime"),

                                       X.DateColumn()
                                       .Text("出差结束时间")
                                       .Width(155)
                                       .Format("yyyy-MM-dd HH:mm")
                                       .DataIndex("EndTime"),

                                       X.Column()
                                       .Text("总出差时长")
                                       .Width(155)
                                       .DataIndex("TimeSpan"),
                                       
                                       X.Column()
                                       .Text("出差地点")
                                       .Width(155)
                                       .DataIndex("BTPlace"),

                                       X.Column()
                                      .Text("出差事由")
                                      .Width(155)
                                      .DataIndex("BTReason"),

                                       X.Column()
                                       .Text("有效")
                                       .Width(155)
                                       .Renderer(RendererFormat.Checkbox)
                                       .DataIndex("Valid").Hidden(true),

                                      X.Column()
                                      .Text("备注")
                                      .Width(155)
                                      .DataIndex("Remark"),

                                      X.Column()
                                      .Text("创建人")
                                      .Width(155)
                                      .DataIndex("CreaterName"),

                                      X.DateColumn()
                                       .Text("创建时间")
                                       .Width(155)
                                       .Format("yyyy-MM-dd HH:mm:ss")
                                       .DataIndex("CreateTime"),

                                      X.Column()
                                      .Text("修改人")
                                      .Width(155)
                                      .DataIndex("EditorName"),

                                      X.DateColumn()
                                       .Text("修改时间")
                                       .Width(155)
                                       .Format("yyyy-MM-dd HH:mm:ss")
                                       .DataIndex("EditeTime"),

                                      X.Column()
                                      .Text("审核ID")
                                      .Width(80)
                                      .DataIndex("OperationListID").Hidden(true),

                                      X.Column()
                                      .Text("原记录ID")
                                      .Width(80)
                                      .DataIndex("LastID").Hidden(true),

                                      X.Column()
                                       .Text("修改")
                                       .Width(155)
                                       .Renderer(RendererFormat.Checkbox)
                                       .DataIndex("BTEdit").Hidden(true),

                                       X.Column()
                                       .Text("删除")
                                       .Width(155)
                                       .Renderer(RendererFormat.Checkbox)
                                       .DataIndex("BTDelete").Hidden(true),

                                      X.Column()
                                      .Text("是修改还是删除")
                                      .Width(80)
                                      .DataIndex("EditOrDelete").Hidden(true),                                                            

                                      X.CommandColumn()
                                      .Width(80)
                                      .Commands(
                                                 Html.X().GridCommand()
                                                .CommandName("update")
                                                .Icon(Icon.UserEdit)
                                                .Text("修改")
                                            )
                                           .DirectEvents(de =>
                                           {
                                               de.Command.Url = Url.Action("Update");
                                               de.Command.ExtraParams.Add(new Parameter("id", "record.data.ID", ParameterMode.Raw));
                                               de.Command.ExtraParams.Add(new Parameter("opid", "record.data.OperationListID", ParameterMode.Raw));
                                           })

                                )
                  )
         )
        )
        )


    </div>
</body>
</html>

