@model System.Collections.IEnumerable

@{
    Layout = null;
    var X = Html.X();
}

<!DOCTYPE html>
<script>
    var reload = function () {
        App.direct.person.DimissionReload();
    };
    var onSuccess = function (grid, data) {
        grid.show();
        grid.getStore().loadData(data);
    };
    var toggleRowSelect = function () {
        App.SpreadsheetSelectionModel1.setRowSelect(false);
        App.SpreadsheetSelectionModel1.setRowSelect(true);
    };
    var deletejs = function (selecteddata) {
        if (selecteddata != "") {
            Ext.MessageBox.confirm("提示", "确认删除该项？", function (but) {
                if (but == "yes") {
                    App.direct.person.JSDeleteDimission(selecteddata);
                    App.SpreadsheetSelectionModel1.setRowSelect(false);
                    App.SpreadsheetSelectionModel1.setRowSelect(true);
                    App.direct.person.DimissionReload();
                    App.DimissionGridPanal.show();
                    App.DimissionGridPanal.getStore().loadData(result.data);
                }
            });
        }
        else {
            Ext.Msg.alert("提示", "未选择任何列！");
        }
    }
</script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dimission</title>
</head>

<body>
    <div>
        @Html.X().ResourceManager(ViewBag.ManagerConfig as MvcResourceManagerConfig).Theme(Theme.Default)

        @(X.Viewport().ID("BackViewPort")
        .Layout(LayoutType.Border)
        .Items(
      X.Panel().Region(Region.Center).Layout(LayoutType.Border).Title("辞职申请").Items(
      X.Panel().Region(Region.West).Width(200).Collapsible(false).AutoScroll(true).Items(
        X.TreePanel().ID("jiagou").RootVisible(true).UseArrows(true).AutoLoad(true)
                           .DirectEvents(
                           de =>
                           {
                               de.ItemClick.Url = Url.Action("DepClick");
                               de.ItemClick.ExtraParams.Add(
                                   new Parameter("dep", "record.data.id", ParameterMode.Raw, true));
                               de.ItemClick.Success = "onSuccess(App.DimissionGridPanal, result.data);";
                               de.ItemClick.EventMask.ShowMask = true;
                           }
                      )
                      .Root(ViewData["root"] as Node)
      ),
      X.Panel().AutoScroll(true).Region(Region.Center).Items(
       X.FormPanel().Layout(LayoutType.Column).Items(
                   X.TextField().ID("StaffID")
                   .FieldLabel("工号"),
                   X.DateField().ID("DimissionTime")
                   .FieldLabel("离职时间").Editable(false),
           X.Button().Text("查询").DirectEvents(de =>
                {
                    de.Click.Url = Url.Action("Getalldata");
                    de.Click.Success = "onSuccess(App.DimissionGridPanal, result.data);";
                    de.Click.ExtraParams.Add(new Parameter("staffid", "App.StaffID.getValue()", ParameterMode.Raw));
                    de.Click.ExtraParams.Add(new Parameter("time", "App.DimissionTime.getValue()", ParameterMode.Raw));
                    de.Click.EventMask.ShowMask = true;
                }),
                     X.Button().Text("添加")
                            .DirectEvents(de =>
                              {
                                  de.Click.Url = Url.Action("Add");
                              }),
                //X.Button().Text("审核")
                //            .DirectEvents(de =>
                //              {
                //                  de.Click.Url = Url.Action("Check");
                //                  de.Click.ExtraParams.Add(new Parameter("id", "App.DimissionGridPanal.getSelectionModel().getSelection()[0].data.ID", ParameterMode.Raw));
                //              }),
                              X.Button().Text("详细")
                            .DirectEvents(de =>
                              {
                                  de.Click.Url = Url.Action("Detail");
                                  de.Click.ExtraParams.Add(new Parameter("id", "App.DimissionGridPanal.getSelectionModel().getSelection()[0].data.ID", ParameterMode.Raw));
                              })
                        //    X.Button().Text("删除").Listeners(l =>
                        //{
                        //    l.Click.Handler = "deletejs(App.SpreadsheetSelectionModel1.getSubmitData());";
                        //})
                        ),
                       X.GridPanel().ID("DimissionGridPanal").AutoScroll(true).ColumnLines(true)
                                      .Store(
                                         X.Store().ID("DimissionStore").PageSize(20)
                                                  .AutoLoad(true)
                                                  .DataSource(Model)
                                           .Model(
                                                     X.Model().IDProperty("ID").Fields("ID","StaffID", "Name", "Department","DimissionTime"
                              , "DimissionType", "DimissionReason","ReasonType","Num","IsValid", "Remark", "CreaterName", "CreateTime","EditorName","EditeTime","OperationListID")
                                                  )
                                          .Reader(
                                                      X.JsonReader().RootProperty("data")
                                                      )

                                  )
                                      .SelectionModel(
                                                  X.CheckboxSelectionModel().Mode(SelectionMode.Multi)
                                       )
                                        .ViewConfig(X.GridView().TrackOver(false))
                                        .BottomBar(
                                                Html.X().PagingToolbar().HideRefresh(true)
                                            )
                                .ColumnModel(
                                       X.Column()
                                       .Text("ID")
                                       .Width(80)
                                       .DataIndex("ID").Hidden(true),
                                
                                       X.Column()
                                       .Text("工号")
                                       .Width(80)
                                       .DataIndex("StaffID"),
                                       
                                       X.Column()
                                       .Text("姓名")
                                       .Width(80)
                                       .DataIndex("Name"),
                                       
                                       X.Column()
                                       .Text("部门")
                                       .Width(80)
                                       .DataIndex("Department"),

                                       X.DateColumn()
                                       .Text("申请离职时间")
                                       .Width(80)
                                       .Format("yyyy-MM-dd")
                                       .DataIndex("DimissionTime"),

                                       X.Column()
                                       .Text("离职类型")
                                       .Width(80)
                                       .DataIndex("DimissionType"),

                                       X.Column()
                                       .Text("离职原因")
                                       .Width(80)
                                       .DataIndex("DimissionReason"),

                                       X.Column()
                                      .Text("原因类型")
                                      .Width(80)
                                      .DataIndex("ReasonType"),

                                       X.Column()
                                       .Text("第几次")
                                       .Width(80)
                                       .DataIndex("Num").Hidden(true),

                                       X.CheckColumn()
                                       .Text("有效")
                                       .Width(80)
                                       .DataIndex("IsValid").Hidden(true),                                     

                                      X.Column()
                                      .Text("备注")
                                      .Width(80)
                                      .DataIndex("Remark"),

                                      X.Column()
                                      .Text("申请人")
                                      .Width(80)
                                      .DataIndex("CreaterName"),

                                      X.DateColumn()
                                       .Text("申请时间")
                                       .Width(80)
                                       .Format("yyyy-MM-dd HH:mm:ss")
                                       .DataIndex("CreateTime"),

                                      X.Column()
                                      .Text("修改人")
                                      .Width(80)
                                      .DataIndex("EditorName"),

                                      X.DateColumn()
                                       .Text("修改时间")
                                       .Width(80)
                                       .Format("yyyy-MM-dd HH:mm:ss")
                                       .DataIndex("EditeTime"),

                                      X.Column()
                                        .Text("审核ID")
                                        .Width(80)
                                        .DataIndex("OperationListID").Hidden(true),

                                      X.CommandColumn()
                                      .Width(80)
                                      .Commands(
                                                 Html.X().GridCommand()
                                                .CommandName("update")
                                                .Icon(Icon.UserEdit)
                                                .Text("修改")
                                            )
                                           .DirectEvents(de =>
                                           {
                                               de.Command.Url = Url.Action("Update");
                                               de.Command.ExtraParams.Add(new Parameter("id", "record.data.ID", ParameterMode.Raw));
                                               de.Command.ExtraParams.Add(new Parameter("opid", "record.data.OperationListID", ParameterMode.Raw));
                                           })

                                )
                  )
         )
        )
        )


    </div>
</body>
</html>

