@model System.Collections.IEnumerable
@{
    Layout = null;
    var X = Html.X();
}

<!DOCTYPE html>
<script>
    var closewindow = function () {
        parent.App.windowDepartmentStaff.close()
    };
</script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Department</title>
</head>
<body>
    @Html.X().ResourceManager(ViewBag.ManagerConfig as MvcResourceManagerConfig).Theme(Theme.Default)
    @X.FormPanel().ID("FormPanel1").Frame(true).Items(
       X.FormPanel().Layout(LayoutType.HBox)
       .ModelValidation(true)
                .Listeners(l =>
                {
                    l.ValidityChange.Handler = "#{add}.setDisabled(!valid);";
                })
                   .Items(
                   X.Panel().Flex(1).Layout(LayoutType.VBox).LayoutConfig(new VBoxLayoutConfig { Align = VBoxAlign.Stretch }).Items(
                      X.ComboBox().ID("ID1").FieldLabel("公司").AllowBlank(true).Editable(false)
                           .DisplayField("name")
                           .ValueField("id")
                           .EmptyText("请选择...")
                           .Store(X.Store()
                           .AutoLoad(true)
                           .Model(X.Model()
                           .IDProperty("Id")
                           .Fields(
                              new ModelField("id", ModelFieldType.String) { Mapping = "ID1" },
                              new ModelField("name", ModelFieldType.String) { Mapping = "Department1Name" }
                           )
                           )
                           .Proxy(X.AjaxProxy().Url(Url.Action("GetID1")).Reader(X.JsonReader().RootProperty("data")))
                           //.Listeners(ls => ls.Load.Handler = "setDutyName()")
                           )
                          .Listeners(l => l.Select.Handler = "App.ID2.clearValue();App.ID2.getStore().load();App.ID3.clearValue();App.ID4.clearValue();App.ID5.clearValue();"),
                          X.ComboBox().ID("ID2").FieldLabel("中心").AllowBlank(true).Editable(false)
                           .DisplayField("name")
                           .ValueField("id")
                           .EmptyText("请选择...")
                           .Store(X.Store().ID("ID2Store")
                           .AutoLoad(true)
                           .Model(X.Model()
                           .IDProperty("Id")
                           .Fields(
                              new ModelField("id", ModelFieldType.String) { Mapping = "ID2" },
                              new ModelField("name", ModelFieldType.String) { Mapping = "Department2Name" }
                           )
                           )
                           .Proxy(X.AjaxProxy().Url(Url.Action("GetID2")).Reader(X.JsonReader().RootProperty("data")))
                           .Parameters(ps => ps.Add(new StoreParameter("id1", "App.ID1.getValue()", ParameterMode.Raw)))
                           //.Listeners(ls => ls.Load.Handler = "setDutyName()")
                           )
                          .Listeners(l => l.Select.Handler = "App.ID3.clearValue();App.ID3.getStore().load();App.ID4.clearValue();App.ID5.clearValue();"),
                          X.ComboBox().ID("ID3").FieldLabel("部门").AllowBlank(true).Editable(false)
                           .DisplayField("name")
                           .ValueField("id")
                           .EmptyText("请选择...")
                           .Store(X.Store().ID("ID3Store")
                           .AutoLoad(true)
                           .Model(X.Model()
                           .IDProperty("Id")
                           .Fields(
                              new ModelField("id", ModelFieldType.String) { Mapping = "ID3" },
                              new ModelField("name", ModelFieldType.String) { Mapping = "Department3Name" }
                           )
                           )
                           .Proxy(X.AjaxProxy().Url(Url.Action("GetID3")).Reader(X.JsonReader().RootProperty("data")))
                           .Parameters(ps => ps.Add(new StoreParameter("id2", "App.ID2.getValue()", ParameterMode.Raw)))
                           //.Listeners(ls => ls.Load.Handler = "setDutyName()")
                           )
                          .Listeners(l => l.Select.Handler = "App.ID4.clearValue();App.ID4.getStore().load();App.ID5.clearValue();"),
                          X.ComboBox().ID("ID4").FieldLabel("组").AllowBlank(true).Editable(false)
                           .DisplayField("name")
                           .ValueField("id")
                           .EmptyText("请选择...")
                           .Store(X.Store().ID("ID4Store")
                           .AutoLoad(true)
                           .Model(X.Model()
                           .IDProperty("Id")
                           .Fields(
                              new ModelField("id", ModelFieldType.String) { Mapping = "ID4" },
                              new ModelField("name", ModelFieldType.String) { Mapping = "Department4Name" }
                           )
                           )
                           .Proxy(X.AjaxProxy().Url(Url.Action("GetID4")).Reader(X.JsonReader().RootProperty("data")))
                           .Parameters(ps => ps.Add(new StoreParameter("id3", "App.ID3.getValue()", ParameterMode.Raw)))
                           //.Listeners(ls => ls.Load.Handler = "setDutyName()")
                           )
                          .Listeners(l => l.Select.Handler = "App.ID5.clearValue();App.ID5.getStore().load();"),
                          X.ComboBox().ID("ID5").FieldLabel("班").AllowBlank(true).Editable(false)
                           .DisplayField("name")
                           .ValueField("id")
                           .EmptyText("请选择...")
                           .Store(X.Store().ID("ID5Store")
                           .AutoLoad(true)
                           .Model(X.Model()
                           .IDProperty("Id")
                           .Fields(
                              new ModelField("id", ModelFieldType.String) { Mapping = "ID5" },
                              new ModelField("name", ModelFieldType.String) { Mapping = "Department5Name" }
                           )
                           )
                           .Proxy(X.AjaxProxy().Url(Url.Action("GetID5")).Reader(X.JsonReader().RootProperty("data")))
                           .Parameters(ps => ps.Add(new StoreParameter("id4", "App.ID4.getValue()", ParameterMode.Raw)))
                           )
                   )
       ),
        X.Button().Text("保存").Icon(Icon.Accept).ID("save").FormBind(true)
                    .DirectEvents(de =>
                    {
                        de.Click.Url = Url.Action("AddSchStaffFromDep");
                        de.Click.ExtraParams.Add(new Parameter("id1", "App.ID1.getValue()", ParameterMode.Raw));
                        de.Click.ExtraParams.Add(new Parameter("id2", "App.ID2.getValue()", ParameterMode.Raw));
                        de.Click.ExtraParams.Add(new Parameter("id3", "App.ID3.getValue()", ParameterMode.Raw));
                        de.Click.ExtraParams.Add(new Parameter("id4", "App.ID4.getValue()", ParameterMode.Raw));
                        de.Click.ExtraParams.Add(new Parameter("id5", "App.ID5.getValue()", ParameterMode.Raw));
                        de.Click.EventMask.ShowMask = true;
                    })
    )
</body>

</html>
